[user]
	email = kontakt@nopper-entwicklung.de
	name = Philipp Nopper
[core]
    editor = vim
    excludesfile = ~/.config/git/ignore
	autocrlf = input
[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = 
    smtppass = 
[pull]
	rebase = false
